body{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    flex-direction: column;
    height:100vh;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;

}

h2{
    font-size: 50px;
    color: darkorange;
}

.btn{
    font-size: 5rem;
    border: none;
    background: rgb(255,255,255,.2);
    border-radius: 10px;
    padding: 15px;
    filter: grayscale();
    transition: filter .2s ease-in-out;
    cursor: pointer;

}

.btn:hover{
    filter:grayscale(0);
    background-color: green;
}

.emoji-name{
    font-weight: 600;
    color: darkblue;
    width:10px 20px;
    text-align: center;
    
}

.section{
    text-align: center;
}